*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    /* overflow-x: hidden; */
    /* transition: 0.5s; */
}
html,body{
    background-color: var(--secondary-color);
    /* overflow-y: hidden; */
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#fff;
    --secondary-color:#1d1d26;
    --hover-color: #ff1493;
    --error-text:red;
    --privacy-text : #0e0f0f;
}
.content-container{
    /* text-align: center; */
    /* border: 10px solid red; */
    /* margin: auto; */
    display: flex;
    justify-content: center;

}

/* main content */
.info-head{
    /* display: flex; 
    min-height: 60vh !important; 
    flex-wrap: wrap; 
    flex-direction: column; 
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem; */
    box-decoration-break: var(--primary-color);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.text-area{
    /* width: 100%; */
    text-align: center;
    padding: 0.5rem;
    border: 1px dashed  var(--primary-color);
    
}
.text-area h1{
    line-height: 3.2rem;
    font-size: 0.8rem;
}
.text-area h1 a{
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    color:  var(--primary-color);
}

.navigation{
    /* width: 100vw; */
}
.navigation ul{
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0.7rem;
    list-style-type: none;
    justify-content: center;
    
}
.navigation ul li{
    margin: 0 1rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}
.navigation ul li a{
    text-decoration: none;
    color: var(--primary-color);
    text-shadow: 1px 5px 3px var(--hover-color);
    font-weight: bold;
}

h1 a{
    margin: 5%;
    /* color: inherit; */
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;

}
h1 a:hover{
    text-decoration-color: var(--hover-color);
}

.image-area{
    /* width: 50%; */
    /* position: relative; */
    text-align: center;
    border: 1px dashed  var(--primary-color);
}

.image-area h1{
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    text-decoration: underline 0.35rem var(--secondary-color);
    transition: text-decoration-color 300ms;
    font-family: monospace !important;
}

.image-area h1:hover{
    text-decoration-color: var(--hover-color);
}

.image-area .date-tag{
    display: block;
    padding: 1rem;
    text-align: center;
}
.image-area .date-tag #dateArr{
    font-size: 1.2rem;
}

.image-area .input-tag #luckyNum{
    display: inline-block;
    width: 50%;
    padding: 0.4rem;
    outline: none;
    border-color: var(--hover-color);
    margin: 1rem;
}

.date-error,.number-error{
    color: var(--error-text);
}
.image-area button{
    display: block;
    width: 15%;
    margin: auto;
    background: transparent;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    border-width: medium;
    border-radius: 0.4rem;
    padding: 0.5rem;
}
h2{
    font-size: 3.5rem;
}
.image-area #getDiv{
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: auto;
    border: 1px solid var(--primary-color);
    color:var(--primary-color);
    font-size: 1.5rem;
}

.privacy-text{
    color: var(--error-text);
    margin: 1rem;
    padding: 1rem;
    background-color: var(--privacy-text);
    position: relative;
}

.privacy-text .fas{
    position: absolute;
    top: 0;
    right: 1%;
    margin: 0.4rem;
    cursor: pointer;
}
@media only screen and (max-width: 500px) {
    .navigation ul li {
        margin: 0 1rem;
        padding: 1.2rem 1.2rem;
        font-size: 1rem;
    }
    .info-head{
        box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    }

    .text-area {
        text-align: center;
        width: 100%;
        padding: 0rem 1rem;
    }

    .text-area h1 a {
        color: var(--primary-color);
        font-size: 1.8rem;
    }
    h1 a {
        margin: 6% 0;
    }

    /* image area */
    .image-area{
        width: 100%;
    }
    .image-area h1 {
        font-size: 1.9rem;
    }
    .image-area .date-tag #dateArr{
      font-size: 1.2rem;
    }
    .image-area button{
        width: 18%;
    }
}

@media only screen and (max-width: 280px){
    .navigation ul li {
     padding: 1.2rem 0.2rem;
    }
}